<div class="characters">

    <div class="perso">
        <h2>{{ player.nom }}</h2>
        <p>PV : {{ player.pv }}</p>
        <p>Attack : {{ player.attack }}</p>
    
    </div>
    
    <button id="button-attack" (click)="attaquer()">Attaquer <br> (Press to attack)</button>
    
    <div class="opponent">
        <h2>{{ adversaire.nom }}</h2>
        <p>PV : {{ adversaire.pv }}</p>
        <p> Attack : {{ adversaire.attack }}</p>
    
    </div>

    <button id="button-attack" (click)="attaquerTwo()">Attaquer <br> (Press to attack)</button>

    <div class="opponentTwo">
        <h2>{{ adversairetwo.nom }}</h2>
        <p>PV : {{ adversairetwo.pv }}</p>
        <p> Attack : {{ adversairetwo.attack }}</p>
    
    </div>

</div>

