.main-lose{
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}

h1{
    padding-top: 200px;
}

.link-lose{
    padding-top: 20px;
    
    #st-link{
        padding: 10px;
        color: white;
        background-color: black;
        text-decoration: none;
    }

    #st-link:hover{
        color: red;
    }
}