*{
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    height: 100%;
  }

.main-level-two{
    background-image: url('/assets/images/fond-jeux.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1{
        text-align: center;
        font-size: 50px;
        padding-top: 100px;
        color: gold;
    }

    .combat{
        margin-top: 80px;
        text-align: center;

        display: flex;
        justify-content: center;
        justify-content: space-around;
    
        
        .perso{
            margin-right: 65px;
            border: solid;
            padding: 10px;
            background-color: aliceblue;
        }
    
        #button-attack{
            margin-right: 15px;
        }
    
        #button-attack:hover{
            background-color: red;
            color: aliceblue;
        }
    
        .opponent{
            padding: 10px;
            background-color: aliceblue;
        }
    
        .opponentTwo{
            padding: 10px;
            background-color: aliceblue;
        }
    }

    .return-home{
        margin-top: 370px;
        padding-bottom: 150px;
        text-align: center;

        a{
            color: red;
            border: solid white;
            background-color: white;
            padding: 10px;
        }
    }


    
        
    }


