<main class="main-home">

    <div class="home-page">
        <h1>GAME BATTLE</h1>

        <div class="link-button">
            <a id="start-link" href="/level-one">Start</a>
        </div>
        
    </div>

    <div class="rules">

        <H2> Régles et Technologies : </H2>
        <p>
            This game is a turn-based combat game where two characters face off. Each player takes a turn choosing an action (attack, defend, etc.) <br>
            to try and defeat their opponent. The first player to lose all their health points is defeated.<br>
            <br>

            Technologies used : <br>
            
            This game was entirely developed using the Angular framework. <br>

            The game logic, turn management, and damage were handled by TypeScript. <br>

            HTML was used to build the interface and combat elements. <br>

            The game's design and visual atmosphere were created using CSS. <br>

            <br>

            Enjoy 😁
        </p>

    </div>


</main>
        