*{
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    height: 100%;
  }

.main-home{
    background-image: url('/assets/images/fond-jeux.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    


    .home-page{
        text-align: center;

        h1{
            padding-top: 300px;
            font-size: 70px;
            color: azure;
            animation: changeColor 2s infinite;
        }

        

        .link-button{
            margin-top: 15px;
            #start-link{
                font-size: 40px;
                text-decoration: none;
                color: white;
                border: solid;
                padding: 15px;
            }

            #start-link:hover{
                background-color: red;
                
            
            }
        }

        

    }

    .rules{
        margin-top: 400px;
        padding-bottom: 150px;
        text-align: center;
        
        h2{
            color: aliceblue;
            
        }
        
        p{
            margin-top: 20px;
            color: aliceblue;
            background-color: rgba(0, 0, 0, 0.385);
        }
    }
    
}







/*-$$$$$$ KeyFrames $$$$$$$$*/

@keyframes changeColor {
    0% {
        color: azure;
    }

    50%{
        color: red;

    }

    100%{
        color: yellow;
    }
}