<main class="main-home">

    <div class="home-page">
        <h1>GAME BATTLE</h1>

        <div class="link-button">
            <a id="start-link" href="/level-one">Start</a>
        </div>
        
    </div>

    <div class="rules">

        <H2> Régles et Technologies : </H2>
        <p>
            Ce jeu est un combat au tour par tour où deux personnages s'affrontent. Chacun votre tour, vous choisissez une action (attaquer, se défendre, etc.) 
            <br> pour tenter de vaincre votre adversaire. Le premier à perdre tous ses points de vie est vaincu. <br>
            Technologies utilisées : <br>
            Ce jeu a été entièrement développé en utilisant le framework Angular. <br>

            La logique du jeu, la gestion des tours et les dégâts ont été gérés par TypeScript. <br>

            HTML a servi à construire l'interface et les éléments du combat. <br>

            Le design et l'ambiance visuelle du jeu ont été créés avec CSS. <br>
        </p>

    </div>


</main>
        