<main class="main-home">

    <div class="home-page">
        <h1>GAME BATTLE</h1>

        <div class="link-button">
            <a id="start-link" href="">Start</a>
        </div>
        
    </div>

    <div class="rules">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis iste amet nostrum repudiandae ratione harum? Sed harum suscipit aliquam unde <br>
            reprehenderit ratione, possimus placeat, saepe inventore consequuntur quam itaque fugit! <br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, dolore unde delectus soluta, recusandae expedita <br>
            illum eveniet inventore laboriosam corporis a voluptates repellendus cumque maiores. Blanditiis quae recusandae quaerat id?
        </p>

    </div>


</main>
        