

.main-home{
    background-image: url('/assets/images/fond-jeux.gif');
    background-size: cover;
    margin-top: 0px;

    .home-page{
        text-align: center;

        h1{
            padding-top: 300px;
            font-size: 70px;
        }

        .link-button{
            
            #start-link{
                font-size: 40px;
                text-decoration: none;
                color: aliceblue;
                border: solid;
                padding: 15px;
            }
        }

        

    }

    .rules{
        margin-top: 400px;
    }
    
}